a:hover {
    background: transparent;
    text-decoration: none;
    color: white;
  }
  header {
    background: url(/img/Layer\ 15.png);
    background-position: center;
    background-size: cover;
  }
  h4 {
    font-size: 24px;
    font-family: "Kaushan Script", cursive;
    margin-top: 90px;
  }
  h1 {
    font-size: 72px;
  }
  * {
    box-sizing: border-box;
  }