/**************************************** CARUSEL ITEMS ***************************/
.autor {
    font-family: "Kaushan Script", cursive;
  }
  .citate {
    font-size: 18px;
    color: #e5e5e5;
  }
  .speech {
    border: 3px solid #95e1d3;
    padding: 0;
    margin-left: 20px;
  }
  .second-citates {
    align-items: center;
  }
  .carousel {
    padding-left: 170px;
    padding-right: 170px;
  }
  .slider {
    background: #f8f8f8;
    height: 290px;
  }
  /* **************************FIRST BLOCK IMAGES ITEMS******************** */
  .block-title2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
  }
  .main-block1__image1 {
    background: url(/img/Layer\ 39.png);
    height: 250px;
  }
  .main-block1__image2 {
    background: url(/img/Layer\ 39.png);
    height: 250px;
  }
  .main-block1__image3 {
    background: url(/img/Layer\ 39.png);
    height: 250px;
  }
  .main-block1__image1:hover {
    background: url(/img/Layer\ 44.png);
    transform: translate(-10px, -10px);
    box-shadow: 12px 12px 2px 1px #95e1d3;
    transition: 1s;
  }
  .main-block1__image1:hover .users {
    opacity: 1;
    transition: 1s;
  }
  .main-block1__image2:hover .users {
    opacity: 1;
    transition: 1s;
  }
  .main-block1__image3:hover .users {
    opacity: 1;
    transition: 1s;
  }
  .main-block1__image2:hover {
    background: url(/img/Layer\ 44.png);
    transform: translate(-10px, -10px);
    box-shadow: 12px 12px 2px 1px #95e1d3;
    transition: 1s;
  }
  .main-block1__image3:hover {
    background: url(/img/Layer\ 44.png);
    transform: translate(-10px, -10px);
    box-shadow: 12px 12px 2px 1px #95e1d3;
    transition: 1s;
  }
  
  .users {
    opacity: 0;
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 62px;
    padding-top: 80px;
    color: white;
  }
  .container-fluid {
    margin-top: 110px;
  }
  .about {
    background: #95e1d3;
  }
  
  .main-block1__row {
    width: 240px;
    border: 1px solid white;
    color: white;
    line-height: 90px;
  }
  .main-content__adaptive {
    background: url(/img/Layer\ 45.png);
  }
  .phone {
    position: absolute;
    top: 54%;
    right: 23%;
  }

  .list-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    text-align: left;
    padding-top: 15px;
    list-style: none;
    padding-bottom: 15px;
  }

  .photo-gallery__first {
    background-image: url(/img/Layer\ 18.png);
    background-size: cover;
    height: 460px;
  }
  .photo-gallery__second {
    background-image: url(/img/Layer\ 19.png);
    background-size: cover;
    height: 460px;
  }
  .photo-gallery__third {
    background: url(/img/Layer\ 18.png);
    background-size: cover;
    height: 460px;
    z-index: 10;
  }
  .photo-gallery__first:hover {
    transform: translate(-10px, -10px);
    background: url(/img/Layer\ 16.png);
    box-shadow: 12px 12px 2px 1px #95e1d3;
    transition: 0.7s;
  }
  .photo-gallery__second:hover {
    transform: translate(-10px, -10px);
    box-shadow: 12px 12px 2px 1px #95e1d3;
    transition: 0.7s;
    background: url(/img/Layer\ 16.png);
  }
  .photo-gallery__third:hover {
    transform: translate(-10px, -10px);
    background: url(/img/Layer\ 16.png);
    background-repeat: no-repeat;
    box-shadow: 12px 12px 2px 1px #95e1d3;
    transition: 0.7s;
  }
  .photo-gallery__third:hover .socials {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__third:hover .socials3 {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__third:hover .socials2 {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__third:hover .socials4 {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__second:hover .socials {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__second:hover .socials3 {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__second:hover .socials2 {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__second:hover .socials4 {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__first:hover .socials {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__first:hover .socials3 {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__first:hover .socials2 {
    opacity: 1;
    transition: 1.3s;
  }
  .photo-gallery__first:hover .socials4 {
    opacity: 1;
    transition: 1.3s;
  }
  .socials,
  .socials2 {
    background: #fce38a;
    display: block;
    line-height: 56px;
    position: absolute;
    top: 45%;
    opacity: 0;
    width: 55px;
  }
  .socials3 {
    background: #fce38a;
    display: block;
    line-height: 56px;
    position: absolute;
    top: 45%;
    opacity: 0;
    width: 55px;
  }
  .socials4 {
    background: #fce38a;
    display: block;
    line-height: 56px;
    position: absolute;
    top: 45%;
    opacity: 0;
    width: 55px;
  }
  .socials {
    left: 10%;
  }
  .socials2 {
    left: 30%;
  }
  .socials3 {
    left: 50%;
  }
  .socials4 {
    left: 70%;
  }
  
  .socials:hover {
    background: #f38181;
  }
  .socials2:hover {
    background: #f38181;
  }
  .socials3:hover {
    background: #f38181;
  }
  .socials4:hover {
    background: #f38181;
  }
  .team {
    background-image: url(/img/Layer\ 53.png);
    height: 830px;
  }
  .team-photo {
    padding-left: 75px;
    font-size: 15px;
  }
  .main-content__devices {
    align-items: center;
  }
  .map {
    background-image: url(/img/Layer\ 59.png);
    height: 200px;
    align-items: center;
    color: #f38181;
  }  
  .carousel-innet__item,
  .slider-control {
    padding-top: 65px;
  }
  .dropbtn {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: gray;
    padding-top: 10px;
    overflow-y: scroll;
    height: 150px;
  }
  .show {
    display: block;
  }
  .story_1 {
    background: url(/img/Layer\ 26.png);
    height: 390px;
    background-position: center;
  }
  .story-hover,
  .story-hover2,
  .story-hover3,
  .story-hover4,
  .story-hover5,
  .story-hover6,
  .story-hover7,
  .story-hover8 {
    opacity: 0;
    color: white;
  }
  .story_1:hover,
  .story_2:hover,
  .story_3:hover,
  .story_4:hover,
  .story_5:hover,
  .story_6:hover,
  .story_7:hover {
    background: url(/img/Layer\ 29.png);
  }
  .story_1:hover .story-hover,
  .story_2:hover .story-hover2,
  .story_3:hover .story-hover3,
  .story_4:hover .story-hover4,
  .story_5:hover .story-hover5,
  .story_6:hover .story-hover6,
  .story_7:hover .story-hover7 {
    opacity: 1;
  }
  .story_5:hover {
    background-size: cover;
  }
  .story_5,
  .story_1,
  .story_2,
  .story_3,
  .story_4,
  .story_6,
  .story_7 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .story_2,
  .story_3 {
    background: url(/img/Layer\ 35.png);
    height: 390px;
    background-position: center;
  }
  .story_3 {
    background: url(/img/Layer\ 33.png);
    height: 390px;
    background-position: center;
  }
  .story_4 {
    background: url(/img/Layer\ 26.png);
    height: 390px;
    background-position: center;
  }
  .story_5 {
    background: url(/img/Layer\ 34.png);
    height: 780px;
    background-position: center;
  }
  .story_6 {
    background: url(/img/Layer\ 32.png);
    height: 390px;
    background-position: center;
  }
  .story_7 {
    background: url(/img/Layer\ 31.png);
    height: 390px;
    background-position: center;
  }